<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
    <link rel="stylesheet" href="stylesheets/style.css"/>
    <script src="userCart.js"></script>
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery-ui.min.js"></script>
</head>
<body>
    <div id="header">
        <div id="banner">
            <h1>The sweet shopping site</h1>
            <span>
                <a id="cart" href="/usercart">
                    <img src="img/shopping_cart.png">
                    <p>Cart:</p>
                </a>
            </span>
        </div>

        <div class="container">
            <ul id="nav">
                <li><a id="home" href="/"><h2>Home</h2></a></li>
                <li><a id="shop" href="/shop"><h2>Shop</h2></a></li>
                <li><a id="about_us" href="#"><h2>About Us</h2></a></li>
                <% if (login) { %>
                <li><a id="logout" href="/logout" ><h2>Log out</h2></a></li>
                <% } else { %> 
                <li><a id="login" href="/login" ><h2>Log In</h2></a></li>
                <li><a id="register" href="/register"><h2>Register</h2></a></li>
                <% } %>
                <li id="search" class="right">
                    <form>
                        <a>Search</a>
                        <input type="text" name="Search" placeholder="Search here..."/>
                    </form>
                </li>

            </ul>
        </div>
    </div>
    <div id="display_login_form" title="Login" style="margin: 50px auto;">
        <h3>Login User</h3>

        <!--<form id="login_form">
            <label for="login_user_name"><h2>User name:</h2></label>
            <input id="login_user_name" type="text" name="user_name"/>
            <label for="login_password"><h2>Password:</h2></label>
            <input id="login_password" type="password" name="password"/>
            <span class="response_msg"></span>
            <span>
                <button>Login</button>
                <button>Facebook Login</button>
            </span>
        </form>-->

        <form action="/login" method="post">
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="username">
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
    </form>
    </div>

</body>